<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arraylist7.android.utils">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>


    <application>

        <meta-data
            android:name="design_width_in_dp"
            android:value="360"/> <!-- 高度px / ( (选最接近的默认dpi)(分辨率斜边px（a^2 + b ^2 = c^2） / 5) / 160)  -->
        <meta-data
            android:name="design_height_in_dp"
            android:value="640"/> <!-- 高度px / ( (选最接近的默认dpi)(分辨率斜边px（a^2 + b ^2 = c^2） / 5) / 160)  -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.arraylist7.android.utils.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>